@font-face {
  font-family: 'znikomit';
  src: url('fonts/znikomit-webfont.eot');
  src: url('fonts/znikomit-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/znikomit-webfont.woff') format('woff'), url('fonts/znikomit-webfont.ttf') format('truetype'), url('fonts/znikomit-webfont.svg#znikomitregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'passionone';
  src: url('fonts/passionone-bold-webfont.eot');
  src: url('fonts/passionone-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/passionone-bold-webfont.woff') format('woff'), url('fonts/passionone-bold-webfont.ttf') format('truetype'), url('fonts/passionone-bold-webfont.svg#passion_onebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lora';
  src: url('fonts/lora-italic-webfont.eot');
  src: url('fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lora-italic-webfont.woff') format('woff'), url('fonts/lora-italic-webfont.ttf') format('truetype'), url('fonts/lora-italic-webfont.svg#loraitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lora';
  src: url('fonts/lora-bolditalic-webfont.eot');
  src: url('fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lora-bolditalic-webfont.woff') format('woff'), url('fonts/lora-bolditalic-webfont.ttf') format('truetype'), url('fonts/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i.fa-home:before {
  content: "\f015";
}
i.fa-user:before {
  content: "\f007";
}
i.fa-envelope:before {
  content: "\f0e0";
}
i.fa-envelope-square:before {
  content: "\f199";
}
i.fa-resume:before {
  content: "\f15c";
}
i.fa-plus-circle:before {
  content: "\f055";
}
i.fa-twitter:before {
  content: "\f099";
}
i.fa-facebook:before {
  content: "\f082";
}
i.fa-github:before {
  content: "\f09b";
}
i.fa-google-plus:before {
  content: "\f0d4";
}
i.fa-linkedin:before {
  content: "\f0e1";
}
i.fa-instagram:before {
  content: "\f16d";
}
i.fa-dribbble:before {
  content: "\f17d";
}
body {
  background-color: #ededfc;
  color: #000044;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
body * {
  box-sizing: border-box;
}
body a {
  color: #000044;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title {
  display: block;
  font-family: 'znikomit', sans-serif;
  font-size: 140px;
  line-height: 120px;
  max-width: 800px;
  margin: 60px auto 20px auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
body p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul.horiz-list li {
  display: inline-block;
}
body ul li {
  list-style: none;
}
.section {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.section .wrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1680px;
}
.divider {
  background-color: #333366;
}
.divider .bg-image {
  background: url('../img/divider-bg.png') 50% 0 no-repeat;
  height: 100%;
  margin: 0 auto;
  opacity: 0.55;
  position: absolute;
  width: 100%;
}
.divider .wrapper {
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
.divider .wrapper h1 {
  color: #ededfc;
  font-family: 'lora', serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 36px;
}
.divider .wrapper a.btn {
  background-color: #d2d2f9;
  border-radius: 4px;
  color: #333366;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: bold;
  height: 36px;
  letter-spacing: -0.5px;
  line-height: 34px;
  margin: 30px 0 0 0;
  padding: 1px 16px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.divider .wrapper a.btn:hover {
  background-color: #000044;
  color: #d2d2f9;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.divider .wrapper a.btn i {
  margin: 0 4px 0 0;
}
nav#main-nav {
  font-family: 'znikomit', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width: 200px;
  z-index: 999;
}
nav#main-nav:hover #menu span.bars {
  background-color: #000044;
}
nav#main-nav:hover #menu span.bars:before {
  background-color: #000044;
  -webkit-will-change: -webkit-transform;
  -moz-will-change: -moz-transform;
  will-change: transform;
  -webkit-transform: translate3d(0, -4px, 0);
  -moz-transform: translate3d(0, -4px, 0);
  -ms-transform: translate3d(0, -4px, 0);
  -o-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}
nav#main-nav:hover #menu span.bars:after {
  background-color: #000044;
  -webkit-will-change: -webkit-transform;
  -moz-will-change: -moz-transform;
  will-change: transform;
  -webkit-transform: translate3d(0, 4px, 0);
  -moz-transform: translate3d(0, 4px, 0);
  -ms-transform: translate3d(0, 4px, 0);
  -o-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}
nav#main-nav:hover ul {
  height: 184px;
}
nav#main-nav #menu {
  display: block;
  cursor: pointer;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
nav#main-nav #menu div {
  display: block;
  height: 21px;
  position: relative;
  top: 40px;
  left: 40px;
  width: 27px;
}
nav#main-nav #menu span.bars {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  top: 8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav #menu span.bars:before {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  top: -8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav #menu span.bars:after {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  bottom: -8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav ul {
  float: left;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav#main-nav ul li {
  clear: both;
  overflow: hidden;
  position: relative;
}
nav#main-nav ul li a {
  background-color: #000044;
  color: #f5f5ff;
  display: block;
  float: left;
  font-size: 20px;
  padding: 10px 24px;
  position: relative;
}
nav#main-nav ul li a:hover {
  background-color: #9999cc;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#header {
  background: url('../img/intro-bg.png') 50% 0 repeat-x;
  height: 700px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
#header #main-social {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 200px;
  z-index: 999;
}
#header #main-social ul {
  float: right;
}
#header #main-social ul li {
  margin: 0 0 0 8px;
}
#header #main-social ul li a i {
  color: #9999cc;
  font-size: 28px;
  line-height: 24px;
}
#header #main-social ul li a:hover i {
  color: #000044;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#header h3 {
  font-family: 'lora', serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: -0.75px;
  line-height: 22px;
  margin: 40px 0 20px 0;
  text-align: center;
}
#header img {
  display: block;
  margin: 0 auto 25px auto;
}
#header h1 {
  font-family: 'passionone', sans-serif;
  font-size: 110px;
  line-height: 78px;
  text-align: center;
  text-transform: uppercase;
}
#header h1 span {
  font-size: 70px;
  line-height: 0;
}
#portfolio {
  background-color: #d2d2f9;
}
#portfolio #grid {
  margin: 0;
  overflow: auto;
}
#portfolio #grid li {
  display: block;
  float: left;
  height: auto;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 25%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio #grid li a article .image {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -moz-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -ms-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -o-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}
#portfolio #grid li a article .image img {
  display: block;
  max-height: 500px;
  max-width: 420px;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#portfolio #grid li a article .info-wrap {
  max-height: 120px;
  overflow: hidden;
  position: relative;
}
#portfolio #grid li a article .info-wrap span {
  background-color: #000044;
  display: block;
  height: 0%;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#portfolio #grid li a article .info-wrap .info {
  padding: 30px 20px;
}
#portfolio #grid li a article .info-wrap .info h4 {
  font-family: 'lora';
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}
#portfolio #grid li a article .info-wrap .info h4.archive {
  font-family: 'znikomit', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
}
#portfolio #grid li a article .info-wrap .info p {
  font-size: 10px;
  margin: 3px 0 0 0;
  text-transform: uppercase;
}
#portfolio #grid li a:hover article .image img {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#portfolio #grid li a:hover article .image:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/assets/overlay.png");
  opacity: 0.6;
}
#portfolio #grid li a:hover article .info-wrap span {
  height: 100%;
}
#portfolio #grid li a:hover article .info-wrap .info h4 {
  color: #d2d2f9;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#portfolio #grid li a:hover article .info-wrap .info p {
  color: #d2d2f9;
  opacity: 0.75;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#about {
  padding-bottom: 80px;
}
#about p {
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  max-width: 325px;
}
#about blockquote {
  color: #9999cc;
  font-family: 'lora', serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  margin: 18px auto;
  max-width: 325px;
}
#contact {
  background-color: #d2d2f9;
}
#contact .wrapper {
  margin: 80px auto 300px auto;
  max-width: 400px;
  text-align: center;
}
#contact .wrapper h3 {
  font-family: 'lora', serif;
  font-size: 34px;
}
#contact .wrapper ul {
  border-top: 1px solid #9999cc;
  margin-top: 4px;
  padding-top: 12px;
}
#contact .wrapper ul li {
  margin: 0 10px 0 0;
}
#contact .wrapper ul li:last-child {
  margin: 0;
}
#contact .wrapper ul li a i {
  color: #9999cc;
  font-size: 40px;
}
#contact .wrapper ul li a i:hover {
  color: #000044;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#footer {
  background-color: #000044;
  padding: 15px 40px;
}
#footer p {
  color: #d2d2f9;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 100;
}
