@font-face {
  font-family: 'lora';
  src: url('fonts/lora-italic-webfont.eot');
  src: url('fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lora-italic-webfont.woff') format('woff'), url('fonts/lora-italic-webfont.ttf') format('truetype'), url('fonts/lora-italic-webfont.svg#loraitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'passionone';
  src: url('fonts/passionone-bold-webfont.eot');
  src: url('fonts/passionone-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/passionone-bold-webfont.woff') format('woff'), url('fonts/passionone-bold-webfont.ttf') format('truetype'), url('fonts/passionone-bold-webfont.svg#passion_onebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'znikomit';
  src: url('fonts/znikomit-webfont.eot');
  src: url('fonts/znikomit-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/znikomit-webfont.woff') format('woff'), url('fonts/znikomit-webfont.ttf') format('truetype'), url('fonts/znikomit-webfont.svg#znikomitregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lora';
  src: url('fonts/lora-bolditalic-webfont.eot');
  src: url('fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lora-bolditalic-webfont.woff') format('woff'), url('fonts/lora-bolditalic-webfont.ttf') format('truetype'), url('fonts/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i.fa-home:before {
  content: "\f015";
}
i.fa-user:before {
  content: "\f007";
}
i.fa-email:before {
  content: "\f0e0";
}
i.fa-star:before {
  content: "\f005";
}
i.fa-resume:before {
  content: "\f15c";
}
i.fa-left:before {
  content: "\f053";
}
i.fa-right:before {
  content: "\f054";
}
i.fa-plus-circle:before {
  content: "\f055";
}
i.fa-twitter:before {
  content: "\f099";
}
i.fa-facebook:before {
  content: "\f082";
}
i.fa-github:before {
  content: "\f09b";
}
i.fa-google-plus:before {
  content: "\f0d4";
}
i.fa-linkedin:before {
  content: "\f0e1";
}
i.fa-instagram:before {
  content: "\f16d";
}
i.fa-dribbble:before {
  content: "\f17d";
}
body {
  background-color: #ededfc;
  color: #26264c;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body a {
  color: #26264c;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title {
  cursor: default;
  display: block;
  font-family: 'znikomit', sans-serif;
  font-size: 150px;
  line-height: 130px;
  max-width: 800px;
  margin: 80px auto 20px auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul.horiz-list li {
  display: inline-block;
}
body ul li {
  list-style: none;
}
body .section {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
body .section .wrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1680px;
}
nav#main-nav {
  font-family: 'znikomit', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width: 200px;
  z-index: 999;
}
nav#main-nav:hover #menu span.bars {
  background-color: #26264c;
}
nav#main-nav:hover #menu span.bars:before {
  background-color: #26264c;
  -webkit-will-change: -webkit-transform;
  -moz-will-change: -moz-transform;
  will-change: transform;
  -webkit-transform: translate3d(0, -4px, 0);
  -moz-transform: translate3d(0, -4px, 0);
  -ms-transform: translate3d(0, -4px, 0);
  -o-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}
nav#main-nav:hover #menu span.bars:after {
  background-color: #26264c;
  -webkit-will-change: -webkit-transform;
  -moz-will-change: -moz-transform;
  will-change: transform;
  -webkit-transform: translate3d(0, 4px, 0);
  -moz-transform: translate3d(0, 4px, 0);
  -ms-transform: translate3d(0, 4px, 0);
  -o-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}
nav#main-nav:hover ul {
  height: 184px;
}
nav#main-nav #menu {
  display: block;
  cursor: pointer;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
nav#main-nav #menu div {
  display: block;
  height: 21px;
  position: relative;
  top: 40px;
  left: 40px;
  width: 27px;
}
nav#main-nav #menu span.bars {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  top: 8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav #menu span.bars:before {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  top: -8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav #menu span.bars:after {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  bottom: -8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav ul {
  float: left;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav#main-nav ul li {
  clear: both;
  overflow: hidden;
  position: relative;
}
nav#main-nav ul li a {
  background-color: #26264c;
  color: #f5f5ff;
  display: block;
  float: left;
  font-size: 20px;
  padding: 10px 24px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav ul li a:hover {
  background-color: #9999cc;
}
nav#mobile-nav {
  display: none;
  background-color: rgba(38, 38, 76, 0.97);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}
nav#mobile-nav ul li {
  border-right: 1px solid #393973;
  display: block;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  text-align: center;
  width: 25%;
}
nav#mobile-nav ul li:last-child {
  border: 0;
}
nav#mobile-nav ul li a {
  display: block;
  color: #d2d2f9;
  padding: 6px 0;
}
nav#mobile-nav ul li a i {
  display: block;
  font-size: 28px;
  margin-bottom: 2px;
}
nav#mobile-nav ul li a i.fa-home {
  font-size: 30px;
  margin-bottom: -1px;
}
nav#inside-nav {
  background-color: rgba(38, 38, 76, 0.97);
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
nav#inside-nav ul li {
  border-left: 1px solid #333366;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#inside-nav ul li a {
  display: block;
  color: #9999cc;
  padding: 19px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#inside-nav ul li a i {
  font-size: 12px;
}
nav#inside-nav ul li:hover {
  background-color: rgba(51, 51, 102, 0.97);
}
nav#inside-nav ul li:hover a {
  color: #d2d2f9;
}
nav#inside-nav ul li.primary {
  border: 0;
  float: left;
  font-family: 'znikomit', 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 18px;
}
nav#inside-nav ul li.primary:hover {
  background-color: inherit;
}
nav#inside-nav ul li.primary a {
  color: #ededfc;
  padding: 12px;
}
nav#inside-nav ul li.primary a i {
  font-size: 32px;
  margin-right: -5px;
}
#home {
  background-image: url('../img/bg-intro.png');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  height: 960px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
#home #main-social {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 200px;
  z-index: 999;
}
#home #main-social ul {
  float: right;
}
#home #main-social ul li {
  margin: 0 0 0 8px;
}
#home #main-social ul li a i {
  color: #9999cc;
  font-size: 28px;
  line-height: 24px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#home #main-social ul li a:hover i {
  color: #26264c;
}
#home .wrapper h3 {
  font-family: 'lora', serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: -0.75px;
  line-height: 22px;
  margin: 40px 0 20px 0;
  text-align: center;
}
#home .wrapper img {
  display: block;
  margin: 0 auto 25px auto;
  max-width: 415px;
}
#home .wrapper h1 {
  font-family: 'passionone', sans-serif;
  font-size: 100px;
  line-height: 70px;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
}
#home .wrapper h1 span {
  display: block;
}
#home .wrapper-mobile {
  display: none;
}
#home .wrapper-mobile h3 {
  font-family: 'lora', serif;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: -0.25px;
  line-height: 22px;
  margin: 25px 0 10px 0;
  text-align: center;
}
#home .wrapper-mobile img {
  display: block;
  margin-bottom: 15px;
  max-width: 100%;
}
#home .wrapper-mobile h1 {
  font-family: 'passionone', sans-serif;
  font-size: 55px;
  letter-spacing: -3px;
  line-height: 37px;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
}
#home .wrapper-mobile h1 span {
  display: block;
}
#portfolio {
  background-color: #d2d2f9;
}
#portfolio #grid {
  margin: 0;
  overflow: auto;
}
#portfolio #grid li {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 25%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio #grid li a article .image {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -moz-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -ms-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -o-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}
#portfolio #grid li a article .image img {
  display: block;
  max-height: 500px;
  max-width: 420px;
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: #808080;
  /* IE */
  filter: url('filters.svg#grayscale');
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(1);
  /* old webkit */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#portfolio #grid li a article .image:after {
  background-color: #393973;
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#portfolio #grid li a article .info-wrap {
  background-color: rgba(38, 38, 76, 0.85);
  display: block;
  height: 80px;
  max-height: 100px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#portfolio #grid li a article .info-wrap .info {
  color: #d2d2f9;
  padding: 20px;
  z-index: 1;
}
#portfolio #grid li a article .info-wrap .info h4 {
  font-family: 'lora';
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#portfolio #grid li a article .info-wrap .info p {
  font-size: 10px;
  margin: 3px 0 0 0;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#portfolio #grid li a:hover article .image img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  /* IE */
  filter: none;
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(0);
  /* old webkit */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#portfolio #grid li a:hover article .image:after {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#portfolio #grid li a:hover article .info-wrap {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#about {
  background-color: #d2d2f9;
  padding-bottom: 80px;
}
#about p {
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  max-width: 325px;
}
#about blockquote {
  color: #9999cc;
  font-family: 'lora', serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  margin: 18px auto;
  max-width: 325px;
}
#contact {
  background: url('../img/footer-bg.png');
  background-position: 50% 350%;
  background-repeat: repeat-x;
  height: 700px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background-color: #d2d2f9;
}
#contact .wrapper {
  margin: 40px auto 80px auto;
  max-width: 340px;
  text-align: center;
}
#contact .wrapper h3 {
  font-family: 'lora', serif;
  font-size: 30px;
}
#contact .wrapper h3 a {
  color: #9999cc;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#contact .wrapper h3 a:hover {
  color: #26264c;
}
#contact .wrapper ul {
  border-top: 1px solid #9999cc;
  margin-top: 4px;
  padding-top: 12px;
}
#contact .wrapper ul li {
  margin: 0 8px 0 0;
}
#contact .wrapper ul li:last-child {
  margin: 0;
}
#contact .wrapper ul li a i {
  color: #9999cc;
  font-size: 34px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#contact .wrapper ul li a i:hover {
  color: #26264c;
}
#archive {
  background: url('../img/divider-archive.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#resume {
  background: url('../img/divider-resume.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.divider {
  background-color: #333366;
  height: 400px;
}
.divider .wrapper {
  margin: 0 auto;
  padding: 150px 0 0 0;
  text-align: center;
}
.divider .wrapper h1 {
  color: #ededfc;
  font-family: 'lora', serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 36px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.divider .wrapper a.btn {
  border: 2px solid #ededfc;
  color: #ededfc;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 17px;
  margin: 30px 0 0 0;
  padding: 8px 16px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.divider .wrapper a.btn:hover {
  background-color: #ededfc;
  color: #26264c;
}
.divider .wrapper a.btn i {
  margin: 0 4px 0 0;
}
#footer {
  background-color: rgba(245, 245, 255, 0.5);
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer p {
  color: #9999cc;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 100;
  text-align: center;
}
body.inside .wrapper {
  margin: 120px auto 64px auto;
  max-width: 924px;
  padding: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.inside .wrapper figure {
  float: left;
  margin: 0 25px 0 0;
  width: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.inside .wrapper figure img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.2);
}
body.inside .wrapper .info {
  border-bottom: 1px solid #393973;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 20px;
  width: 46%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.inside .wrapper .info h1 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 58px;
  margin-bottom: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.inside .wrapper .info ul {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.inside .wrapper .info ul li {
  border: 2px solid #9999cc;
  color: #9999cc;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.75px;
  line-height: 14px;
  margin: 4px 2px 0 0;
  padding: 6px 8px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.inside .wrapper .info p {
  font-size: 18px;
  line-height: 21px;
  margin-top: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.inside .wrapper .info p.source {
  font-weight: 700;
}
@media only screen and (max-width: 1024px) {
  body h1.title,
  body h2.title,
  body h3.title,
  body h4.title,
  body h5.title,
  body h6.title {
    font-size: 120px;
    line-height: 100px;
  }
  body.inside .wrapper {
    max-width: 768px;
  }
  body.inside .wrapper .info h1 {
    font-size: 50px;
    line-height: 48px;
  }
  body.inside .wrapper .info ul li {
    font-size: 13px;
    line-height: 13px;
  }
  #portfolio #grid li {
    width: 33.3333%;
  }
  #portfolio #grid li:nth-child(7) {
    display: none;
  }
  #portfolio #grid li:nth-child(8) {
    display: none;
  }
  #portfolio #grid.archive li {
    display: block;
  }
  #about p {
    font-size: 17px;
    line-height: 27px;
    max-width: 300px;
  }
  #about blockquote {
    font-size: 30px;
    line-height: 36px;
    max-width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  body h1.title,
  body h2.title,
  body h3.title,
  body h4.title,
  body h5.title,
  body h6.title {
    font-size: 90px;
    line-height: 70px;
  }
  body.inside .wrapper {
    margin-bottom: 140px;
    max-width: 600px;
  }
  body.inside .wrapper figure {
    width: 49%;
  }
  body.inside .wrapper .info h1 {
    font-size: 38px;
    line-height: 38px;
  }
  body.inside .wrapper .info ul li {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 3px 5px;
  }
  body.inside .wrapper .info p {
    font-size: 16px;
    line-height: 19px;
    margin-top: 12px;
  }
  nav#main-nav {
    display: none;
  }
  nav#mobile-nav {
    display: block;
  }
  nav#mobile-nav ul li {
    font-size: 12px;
  }
  nav#mobile-nav ul li a {
    padding: 12px 0;
  }
  nav#mobile-nav ul li a i {
    font-size: 34px;
    margin-bottom: 2px;
  }
  nav#mobile-nav ul li a i.fa-home {
    font-size: 36px;
    margin-bottom: -1px;
  }
  #home {
    background-position: 50% 100px;
    height: 860px;
  }
  #home #main-social {
    display: none;
  }
  #portfolio #grid li {
    width: 50%;
  }
  #portfolio #grid li:nth-child(7) {
    display: block;
  }
  #portfolio #grid li:nth-child(8) {
    display: block;
  }
  #portfolio #grid.archive {
    margin-bottom: 70px;
  }
  #archive {
    background-attachment: scroll;
  }
  #resume {
    background-attachment: scroll;
  }
  .divider {
    height: 350px;
  }
  .divider .wrapper {
    padding-top: 125px;
  }
  .divider .wrapper h1 {
    color: rgba(237, 237, 252, 0.75);
  }
  .divider .wrapper a.btn {
    background-color: rgba(237, 237, 252, 0.75);
    border: rgba(237, 237, 252, 0.75);
    color: #26264c;
    font-size: 18px;
    line-height: 18px;
    margin-top: 25px;
    padding: 10px 14px;
  }
  #contact {
    height: 660px;
    background-position: 50% 280%;
  }
  #contact .wrapper {
    margin-top: 60px;
    max-width: 380px;
  }
  #contact .wrapper h3 {
    font-size: 34px;
  }
  #contact .wrapper ul {
    padding-top: 10px;
  }
  #contact .wrapper ul li {
    margin: 0 12px 0 0;
  }
  #contact .wrapper ul li a i {
    font-size: 42px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
@media only screen and (max-width: 620px) {
  body h1.title,
  body h2.title,
  body h3.title,
  body h4.title,
  body h5.title,
  body h6.title {
    font-size: 60px;
    line-height: 40px;
  }
  body.inside .wrapper {
    max-width: 500px;
  }
  body.inside .wrapper figure {
    width: 38%;
  }
  body.inside .wrapper .info {
    width: 55%;
  }
  nav#inside-nav ul li.primary {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 18px;
  }
  nav#inside-nav ul li.primary a {
    color: #ededfc;
    padding: 14px;
  }
  nav#inside-nav ul li.primary a i {
    font-size: 28px;
    margin-right: -5px;
  }
  #home {
    height: 860px;
  }
  #home .wrapper h3 {
    font-size: 20px;
    letter-spacing: -0.25px;
    line-height: 14px;
    margin-bottom: 15px;
  }
  #home .wrapper img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 330px;
  }
  #home .wrapper h1 {
    font-family: 'passionone', sans-serif;
    font-size: 80px;
    line-height: 56px;
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
  }
  #home .wrapper h1 span {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  body h1.title,
  body h2.title,
  body h3.title,
  body h4.title,
  body h5.title,
  body h6.title {
    font-size: 46px;
    line-height: 26px;
    margin-top: 40px;
  }
  body.inside .wrapper {
    margin: 58px auto 20px auto;
    max-width: 100%;
    padding: 0 20px;
  }
  body.inside .wrapper figure {
    position: relative;
    margin: 0 0 15px 0;
    width: 100%;
  }
  body.inside .wrapper .info {
    border: 0;
    margin-bottom: 48px;
    padding-bottom: 0px;
    width: 100%;
  }
  body.inside .wrapper .info h1 {
    font-size: 26px;
    letter-spacing: -0.5px;
    line-height: 24px;
  }
  body.inside .wrapper .info ul li {
    font-size: 12px;
    line-height: 12px;
    padding: 5px 7px;
  }
  body.inside .wrapper .info p {
    font-size: 15px;
    line-height: 19px;
    margin-top: 10px;
  }
  nav#inside-nav ul li a {
    padding: 10px;
  }
  nav#inside-nav ul li.previous {
    border-left: 0;
    border-right: 1px solid #333366;
    float: left;
  }
  nav#inside-nav ul li.primary {
    display: none;
  }
  nav#mobile-nav {
    display: block;
  }
  nav#mobile-nav ul li {
    font-size: 10px;
  }
  nav#mobile-nav ul li a {
    padding: 6px 0;
  }
  nav#mobile-nav ul li a i {
    display: block;
    font-size: 24px;
    margin-bottom: 2px;
  }
  nav#mobile-nav ul li a i.fa-home {
    font-size: 26px;
    margin-bottom: -1px;
  }
  #home {
    background-image: none;
    height: 440px;
  }
  #home #main-social {
    display: none;
  }
  #home .wrapper {
    display: none;
  }
  #home .wrapper-mobile {
    display: block;
  }
  #portfolio #grid {
    margin: 0 20px;
  }
  #portfolio #grid li {
    margin-bottom: 20px;
    width: 100%;
  }
  #portfolio #grid li:nth-child(6) {
    display: none;
  }
  #portfolio #grid li:nth-child(7) {
    display: none;
  }
  #portfolio #grid li:nth-child(8) {
    display: none;
  }
  #portfolio #grid.archive {
    margin-top: 20px;
    margin-bottom: 48px;
  }
  #about {
    padding-bottom: 30px;
  }
  #about p {
    font-size: 18px;
    line-height: 24px;
    margin: 0 20px;
    max-width: 100%;
  }
  #about p:first-child {
    margin-bottom: 20px;
  }
  #about blockquote {
    display: none;
  }
  #contact {
    background: none;
    background-color: #d2d2f9;
    height: 280px;
  }
  #contact .wrapper {
    margin: 40px auto;
    max-width: 240px;
  }
  #contact .wrapper h3 {
    font-size: 20px;
  }
  #contact .wrapper ul {
    padding-top: 10px;
  }
  #contact .wrapper ul li {
    margin: 0 10px 0 0;
  }
  #contact .wrapper ul li a i {
    font-size: 26px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .divider {
    height: 200px;
  }
  .divider .wrapper {
    padding-top: 55px;
  }
  .divider .wrapper h1 {
    font-size: 22px;
    font-weight: bold;
  }
  .divider .wrapper a.btn {
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    padding: 10px 12px;
  }
  #footer {
    display: none;
  }
}
