//--- VARIABLES --------------
//----------------------------
@blue-lightest: 	#F5F5FF;
@blue-lighter: 		#EDEDFC;
@blue-light: 		#D2D2F9;
@blue: 				#9999CC;
@blue-dark:			#393973;
@blue-darker: 		#333366;
@blue-darkest: 		#26264C;

@width-max: 		1680px;
@width-wrap: 		800px;


//--- MIXINS -----------------
//----------------------------
.background-size (@size) {
	-webkit-background-size: 	@size;
	-moz-background-size: 		@size;
	-o-background-size: 		@size;
	background-size: 			@size;
}
.border-radius (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}
.font-smoothing(@type: antialiased, @osx-type: grayscale){
	-webkit-font-smoothing: @type;
	-moz-font-smoothing: @type;
	-ms-font-smoothing: @type;
	-o-font-smoothing: @type;
	font-smoothing: @type;
	-moz-osx-font-smoothing: @osx-type;
}
.opacity (@opacity) {
	-webkit-opacity: @opacity;
	-moz-opacity: @opacity;
	opacity: @opacity;
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.transition(@transition){
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}
.transform(@transform){
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}


//--- FONTS ------------------
//----------------------------
@font-face {
    font-family: 'znikomit';
    src: url('fonts/znikomit-webfont.eot');
    src: url('fonts/znikomit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/znikomit-webfont.woff') format('woff'),
         url('fonts/znikomit-webfont.ttf') format('truetype'),
         url('fonts/znikomit-webfont.svg#znikomitregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'passionone';
    src: url('fonts/passionone-bold-webfont.eot');
    src: url('fonts/passionone-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/passionone-bold-webfont.woff') format('woff'),
         url('fonts/passionone-bold-webfont.ttf') format('truetype'),
         url('fonts/passionone-bold-webfont.svg#passion_onebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lora';
    src: url('fonts/lora-italic-webfont.eot');
    src: url('fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lora-italic-webfont.woff') format('woff'),
         url('fonts/lora-italic-webfont.ttf') format('truetype'),
         url('fonts/lora-italic-webfont.svg#loraitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lora';
    src: url('fonts/lora-bolditalic-webfont.eot');
    src: url('fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lora-bolditalic-webfont.woff') format('woff'),
         url('fonts/lora-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
	&.fa {
	  display: inline-block;
	  font-family: FontAwesome;
	  font-style: normal;
	  font-weight: normal;
	  line-height: 1;
	  .font-smoothing;
	}
	&.fa-home:before {
	  content: "\f015";
	}
	&.fa-user:before {
	  content: "\f007";
	}
	&.fa-email:before {
	  content: "\f0e0";
	}
	&.fa-email-square:before {
	  content: "\f199";
	}
	&.fa-phone:before {
	  content: "\f095";
	}
	&.fa-location:before {
	  content: "\f041";
	}
	&.fa-experience:before {
	  content: "\f0f2";
	}
	&.fa-education:before {
	  content: "\f19d";
	}
	&.fa-star:before {
	  content: "\f005";
	}
	&.fa-users:before {
	  content: "\f0c0";
	}
	&.fa-resume:before {
	  content: "\f15c";
	}
	&.fa-plus-circle:before {
	  content: "\f055";
	}
	&.fa-twitter:before {
	  content: "\f099";
	}
	&.fa-facebook:before {
	  content: "\f082";
	}
	&.fa-github:before {
	  content: "\f09b";
	}
	&.fa-google-plus:before {
	  content: "\f0d4";
	}
	&.fa-linkedin:before {
	  content: "\f0e1";
	}
	&.fa-instagram:before {
	  content: "\f16d";
	}
	&.fa-dribbble:before {
	  content: "\f17d";
	}
}


//--- GLOBAL STYLES ----------
//----------------------------
body {
	background-color: @blue-lighter;
	color: @blue-darkest;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	* { .box-sizing; }
	a {
		color: @blue-darkest;
		text-decoration: none;
		&:hover { text-decoration: none; }
	}
	h1, h2, h3, h4, h5, h6 { 
		font-family: 'Source Sans Pro',sans-serif;
		margin: 0;
		text-rendering: geometricPrecision;
		.font-smoothing;
		&.title {
			display: block;
			font-family: 'znikomit',sans-serif;
			font-size: 140px;
			line-height: 120px;
			max-width: @width-wrap;
			margin: 80px auto 20px auto;
			position: relative;
			text-align: center;
			text-transform: uppercase;
		}
	}
	p {
		font-family: 'Source Sans Pro',sans-serif;
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		&.horiz-list li { display: inline-block; }
		li { list-style: none; }
	}
	.section {
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		width: 100%;
		.wrapper {
			display: block;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
			width: 100%;
				max-width: @width-max;
		}
	}
}


//--- STRUCTURES -------------
//----------------------------
nav#main-nav {
	font-family: 'znikomit',sans-serif;
	position: fixed;
		top: 0;
		left: 0;
	text-transform: uppercase;
	width: 200px;
	z-index: 999;
	&:hover {
		#menu span.bars {
			background-color: @blue-darkest;
			&:before {
				background-color: @blue-darkest;
				-webkit-will-change: -webkit-transform;
				-moz-will-change: -moz-transform;
				will-change: transform;
				.transform(translate3d(0, -4px, 0));
			}
			&:after {
				background-color: @blue-darkest;
				-webkit-will-change: -webkit-transform;
				-moz-will-change: -moz-transform;
				will-change: transform;
				.transform(translate3d(0, 4px, 0));
			}
		}
		ul { height: 184px; }
	}
	#menu {
		display: block;
		cursor: pointer;
		height: 100px;
		position: absolute;
			top: 0;
			left: 0;
		width: 100px;
		div {
			display: block;
			height: 21px;
			position: relative;
				top: 40px;
				left: 40px;
			width: 27px;
		}
		span.bars {
			background: @blue;
			border-radius: 1px;
			content: ' ';
			cursor: pointer;
			display: block;
			height: 5px;
			margin: 0;
			position: absolute;
				top: 8px;
			width: 28px;
			.transition(all 0.2s ease-in-out);
			&:before {
				background: @blue;
				border-radius: 1px;
				content: ' ';
				cursor: pointer;
				display: block;
				height: 5px;
				margin: 0;
				position: absolute;
					top: -8px;
				width: 28px;
				.transition(all 0.2s ease-in-out);
			}
			&:after {
				background: @blue;
				border-radius: 1px;
				content: ' ';
				cursor: pointer;
				display: block;
				height: 5px;
				margin: 0;
				position: absolute;
					bottom: -8px;
				width: 28px;
				.transition(all 0.2s ease-in-out);
			}
		}
	}
	ul {
		float: left;
		height: 0;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: fixed;
			top: 100px;
		.transition(all 0.3s ease-in-out);
		li {
			clear: both;
			overflow: hidden;
			position: relative;
			a {
				background-color: @blue-darkest;
				color: @blue-lightest;
				display: block;
				float: left;
				font-size: 20px;
				padding: 10px 24px;
				position: relative;
				.transition(all 0.2s ease-in-out);
				&:hover {
					background-color: @blue;
				}
			}
		}
	}
}
#footer {
	background-color: @blue-darkest;
	padding: 15px 40px;
	p {
		color: @blue-light;
		font-family: sans-serif;
		font-size: 11px;
		font-weight: 100;
	}
}
.index {
	#home {
		background: url('../img/intro-bg.png');
		background-position: 50% 100%;
		background-repeat: repeat-x;
		height: 960px;
		margin: 0 auto;
		position: relative;
		width: 100%;
		#main-social {
			position: absolute;
				top: 40px;
				right: 40px;
			width: 200px;
			z-index: 999;
			ul { 
				float: right;
				li {
					margin: 0 0 0 8px;
					a {
						i {
							color: @blue;
							font-size: 28px;
							line-height: 24px;
							.transition(all 0.2s ease-in-out);
						}
						&:hover i { 
							color: @blue-darkest;
						}
					}
				}
			}
		}
		h3 {
			font-family: 'lora',serif;
			font-size: 28px;
			font-weight: normal;
			letter-spacing: -0.75px;
			line-height: 22px;
			margin: 40px 0 20px 0;
			text-align: center;
		}
		img {
			display: block;
			margin: 0 auto 25px auto;
			max-width: 415px;
		}
		h1 {
			font-family: 'passionone',sans-serif;
			font-size: 100px;
			line-height: 70px;
			margin-top: 0px;
			text-align: center;
			text-transform: uppercase;
			span {
				font-size: 70px;
				line-height: 0;
			}
		}
	}
	#portfolio {
		background-color: @blue-light;
		#grid {
			margin: 0;
			overflow: auto;
			li {
				display: block;
				float: left;
				height: auto;
				overflow: hidden;
				position: relative;
				width: 25%;
				.opacity(1);
				.transform(translateY(0));
				.transition(all 0.4s ease-in-out);
				a {
					article {
						.image {
							overflow: hidden;
							position: relative;
							.transition(all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75));
							img {
								display: block;
								max-height: 500px;
								max-width: 420px;
								width: 100%;
								.transition(all 0.2s ease-in-out);
							}
						}
						.info-wrap {
							max-height: 120px;
							overflow: hidden;
							position: relative;
							span {
								background-color: @blue-darkest;
								display: block;
								height: 0%;
								position: absolute;
									top: 0;
								z-index: -1;
								width: 100%;
								.transition(all 0.3s ease-in-out);
							}
							.info {
								padding: 30px 20px;
								h4 {
									font-family: 'lora';
									font-weight: bold;
									font-size: 24px;
									line-height: 24px;
									.transition(all 0.2s ease-in-out);
								}
								p {
									font-size: 10px;
									margin: 3px 0 0 0;
									text-transform: uppercase;
									.transition(all 0.2s ease-in-out);
								}
							}
						}
					}
					&:hover {
						article {
							.image {
								img { .transform(scale(1.15)); }
								&:after {
									background: url("../img/assets/overlay.png");
									content: " ";
									height: 100%;
									position: absolute;
										top: 0;
										left: 0;
									width: 100%;
									.opacity(0.6);
								}
							}
							.info-wrap {
								span { height: 100%; }
								.info {
									h4 {
										color: @blue-light;
									}
									p {
										color: @blue-light;
										.opacity(0.75);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#about {
		background-color: @blue-light;
		padding-bottom: 80px;
		p {
			font-size: 18px;
			line-height: 28px;
			margin: 0 auto;
			max-width: 325px;
		}
		blockquote {
			color: @blue;
			font-family: 'lora',serif;
			font-weight: bold;
			font-size: 34px;
			line-height: 40px;
			margin: 18px auto;
			max-width: 325px;
		}
	}
	#contact {
		background-color: @blue-light;
		.wrapper {
			margin: 80px auto 300px auto;
			max-width: (@width-wrap / 2);
			text-align: center;
			h3 {
				font-family: 'lora',serif;
				font-size: 34px;
			}
			ul {
				border-top: 1px solid @blue;
				margin-top: 4px;
				padding-top: 12px;
				li {
					margin: 0 10px 0 0;
					&:last-child { margin: 0; }
					a {
						i {
							color: @blue;
							font-size: 40px;
							.transition(all 0.2s ease-in-out);
							&:hover {
								color: @blue-darkest;
							}
						}
					}
				}
			}
		}
	}
	#archive {
		width: 100%;
		height: 400px;
		background-image: url('../img/divider-desk.jpg');
		.background-size(cover);
		background-attachment: fixed;
		background-position: top center;
	}
	#resume {
		width: 100%;
		height: 400px;
		background-image: url('../img/divider-work.jpg');
		.background-size(cover);
		background-attachment: fixed;
		background-position: top center;	
	}
	.divider {
		background-color: @blue-darker;
		.wrapper {
			margin: 0 auto;
			padding: 150px 0 0 0;
			text-align: center;
			h1 {
				color: @blue-lighter;
				font-family: 'lora',serif;
				font-size: 40px;
				font-weight: normal;
				line-height: 36px;
				.text-shadow;
			}
			a.btn {
				background-color: @blue-light;
				border-radius: 4px;
				color: @blue-darker;
				display: inline-block;
				font-family: 'Source Sans Pro',sans-serif;
				font-size: 17px;
				font-weight: bold;
				height: 36px;
				letter-spacing: -0.5px;
				line-height: 34px;
				margin: 30px 0 0 0;
				padding: 1px 16px;
				text-transform: uppercase;
				white-space: nowrap;
				.font-smoothing;
				.transition(all 0.2s ease-in-out);
				&:hover {
					background-color: @blue-darkest;
					color: @blue-light;
				}
				i { margin: 0 4px 0 0; }
			}
		}
	}
}
.resume {
	background-color: darken(@blue-lightest,2%);
	.section {
		max-width: 950px;
		padding: 40px 0;
		.wrapper {
			padding: 0 40px;
			overflow: visible;
			.panel {
				background-color: @blue-lightest;
				border: 1px solid @blue-light;
				border-top: 0;
				border-bottom: 0;
				margin: 0;
				overflow: auto;
				&:last-child { 
					border-bottom: 1px solid @blue-light;
				}
				.title {
					float: left;
					text-align: center;
					margin-top: 20px;
					width: 210px;
					i {
						background-color: @blue-lighter;
						color: @blue-light;
						display: block;
						font-size: 38px;
						line-height: 70px;
						margin: 0 auto;
						width: 75px;
						height: 75px;
						.border-radius(50%);
					}
					span {
						color: @blue-light;
						font-family: 'Source Sans Pro',sans-serif;
						font-size: 18px;
						font-weight: 100;
						text-transform: uppercase;

					}
				}
				.entry {
					border-bottom: 1px solid @blue-lighter;
					margin: 20px 40px 20px 210px;
					padding: 0 0 20px 0;
					position: relative;
					&:first-child { margin-top: 40px; }
					&:last-child {
						border: 0;
						margin-bottom: 40px;
						padding: 0;
					}
					a.expand {
						border: 1px solid @blue;
						color: @blue;
						font-family: 'Source Sans Pro',sans-serif;
						font-size: 10px;
						padding: 4px 6px;
						position: absolute;
							top: 0;
							right: 0;
						text-transform: uppercase;
						.border-radius(10px);
						.transition(all 0.2s ease-in-out);
						&:hover {
							background-color: @blue-darkest;
							border-color: transparent;
							color: @blue-light;
							
						}
						i { margin: 0 2px 0 0; }
					}
					h4 {
						font-family: 'znikomit',sans-serif;
						font-size: 26px;
						line-height: 24px;
					}
					p.org-name {
						font-size: 15px;
						line-height: 25px;
						text-transform: uppercase;
						.opacity(0.75);
					}
					.org-details {
						//display: none;
						margin: 20px 0 0 0;
						.transform(all 0.2s ease-in-out);
						p {
							color: @blue-dark;
							font-size: 16px;
							line-height: 19px;
						}
						ul {
							font-family: 'Source Sans Pro',sans-serif;
							margin: 15px 0 0 0;
							li {
								color: @blue-dark;
								font-size: 14px;
								line-height: 16px;
								margin: 0 0 2px 0;
								padding: 0 0 0 120px;
								&:last-child { margin-bottom: 0; }
								i {
									color: lighten(@blue, 10%);
									position: absolute;
										left: 0;
										font-family: 'Source Sans Pro',sans-serif;
									font-size: 14px;
									font-weight: bold;
									line-height: 16px;
									&:before { 
										font-family: 'FontAwesome';
										margin-right: 3px;
									}
								}
								a {
									color: lighten(@blue-dark, 25%);
									&:hover {
										text-decoration: underline;
									}
								}
							}
						}
					}
					
				}
			}
		}
	}
	header {
		background-color: @blue-darker;
		.image {
			float: left;
			margin-left: -40px;
			text-align: center;
			width: 210px;
			img {
				margin: -15px 0;
				max-width: 130px;
				.border-radius(50%);
			}
		}
		.profile {
			float: left;
			h1 {
				color: @blue-light;
				font-family: 'znikomit';
				font-size: 78px;
				line-height: 68px;
				
			}
			h3 {
				color: @blue;
				font-family: 'Source Sans Pro',sans-serif;
				font-size: 28px;
				font-weight: 100;
				letter-spacing: -0.5px;
				line-height: 28px;
				margin: 4px 0 0 0px;
				text-transform: uppercase;
				.opacity(0.75);
			}
		}
		.contact {
			float: right;
			a {
				background-color: @blue-darkest;
				color: lighten(@blue-dark,12%);
				display: block;
				font-family: 'Source Sans Pro',sans-serif;
				font-size: 13px;
				margin: 0 0 5px 0;
				padding: 6px 9px;
				.border-radius(12px);
				.transition(all 0.2s ease-in-out);
				&:last-child { margin: 0; }
				&:hover {
					background-color: darken(@blue-darkest, 5%);
					color: @blue;
				}
				i {
					margin: 0 6px 0 0;
					&.fa-location { font-size: 15px; }
					&.fa-phone { font-size: 14px; }
					&.fa-email { font-size: 11px; }
				}
			}
		}
	}
	#experience {
		border-bottom: 1px solid @blue-light;
		margin-top: -40px;
		&.panel { padding-top: 40px; }
	}
	#education {
		border-bottom: 1px solid @blue-light;
	}
	#skills {
		border-bottom: 1px solid @blue-light;
	}
	#references {

	}
}


//--- MEDIA QUERIES ----------
//----------------------------







