@font-face {
  font-family: 'znikomit';
  src: url('fonts/znikomit-webfont.eot');
  src: url('fonts/znikomit-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/znikomit-webfont.woff') format('woff'), url('fonts/znikomit-webfont.ttf') format('truetype'), url('fonts/znikomit-webfont.svg#znikomitregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'passionone';
  src: url('fonts/passionone-bold-webfont.eot');
  src: url('fonts/passionone-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/passionone-bold-webfont.woff') format('woff'), url('fonts/passionone-bold-webfont.ttf') format('truetype'), url('fonts/passionone-bold-webfont.svg#passion_onebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lora';
  src: url('fonts/lora-italic-webfont.eot');
  src: url('fonts/lora-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lora-italic-webfont.woff') format('woff'), url('fonts/lora-italic-webfont.ttf') format('truetype'), url('fonts/lora-italic-webfont.svg#loraitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lora';
  src: url('fonts/lora-bolditalic-webfont.eot');
  src: url('fonts/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lora-bolditalic-webfont.woff') format('woff'), url('fonts/lora-bolditalic-webfont.ttf') format('truetype'), url('fonts/lora-bolditalic-webfont.svg#lorabold_italic') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i.fa-home:before {
  content: "\f015";
}
i.fa-user:before {
  content: "\f007";
}
i.fa-email:before {
  content: "\f0e0";
}
i.fa-email-square:before {
  content: "\f199";
}
i.fa-phone:before {
  content: "\f095";
}
i.fa-location:before {
  content: "\f041";
}
i.fa-experience:before {
  content: "\f0f2";
}
i.fa-education:before {
  content: "\f19d";
}
i.fa-star:before {
  content: "\f005";
}
i.fa-users:before {
  content: "\f0c0";
}
i.fa-resume:before {
  content: "\f15c";
}
i.fa-plus-circle:before {
  content: "\f055";
}
i.fa-twitter:before {
  content: "\f099";
}
i.fa-facebook:before {
  content: "\f082";
}
i.fa-github:before {
  content: "\f09b";
}
i.fa-google-plus:before {
  content: "\f0d4";
}
i.fa-linkedin:before {
  content: "\f0e1";
}
i.fa-instagram:before {
  content: "\f16d";
}
i.fa-dribbble:before {
  content: "\f17d";
}
body {
  background-color: #ededfc;
  color: #26264c;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body a {
  color: #26264c;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title {
  cursor: default;
  display: block;
  font-family: 'znikomit', sans-serif;
  font-size: 140px;
  line-height: 120px;
  max-width: 800px;
  margin: 80px auto 20px auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul.horiz-list li {
  display: inline-block;
}
body ul li {
  list-style: none;
}
body .section {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
body .section .wrapper {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1680px;
}
nav#main-nav {
  font-family: 'znikomit', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width: 200px;
  z-index: 999;
}
nav#main-nav:hover #menu span.bars {
  background-color: #26264c;
}
nav#main-nav:hover #menu span.bars:before {
  background-color: #26264c;
  -webkit-will-change: -webkit-transform;
  -moz-will-change: -moz-transform;
  will-change: transform;
  -webkit-transform: translate3d(0, -4px, 0);
  -moz-transform: translate3d(0, -4px, 0);
  -ms-transform: translate3d(0, -4px, 0);
  -o-transform: translate3d(0, -4px, 0);
  transform: translate3d(0, -4px, 0);
}
nav#main-nav:hover #menu span.bars:after {
  background-color: #26264c;
  -webkit-will-change: -webkit-transform;
  -moz-will-change: -moz-transform;
  will-change: transform;
  -webkit-transform: translate3d(0, 4px, 0);
  -moz-transform: translate3d(0, 4px, 0);
  -ms-transform: translate3d(0, 4px, 0);
  -o-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}
nav#main-nav:hover ul {
  height: 184px;
}
nav#main-nav #menu {
  display: block;
  cursor: pointer;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
nav#main-nav #menu div {
  display: block;
  height: 21px;
  position: relative;
  top: 40px;
  left: 40px;
  width: 27px;
}
nav#main-nav #menu span.bars {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  top: 8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav #menu span.bars:before {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  top: -8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav #menu span.bars:after {
  background: #9999cc;
  border-radius: 1px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 5px;
  margin: 0;
  position: absolute;
  bottom: -8px;
  width: 28px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav ul {
  float: left;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav#main-nav ul li {
  clear: both;
  overflow: hidden;
  position: relative;
}
nav#main-nav ul li a {
  background-color: #26264c;
  color: #f5f5ff;
  display: block;
  float: left;
  font-size: 20px;
  padding: 10px 24px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav#main-nav ul li a:hover {
  background-color: #9999cc;
}
#footer {
  background-color: rgba(245, 245, 255, 0.5);
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer p {
  color: #9999cc;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 100;
  text-align: center;
}
.index #home {
  background: url('../img/intro-bg.png');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  height: 960px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.index #home #main-social {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 200px;
  z-index: 999;
}
.index #home #main-social ul {
  float: right;
}
.index #home #main-social ul li {
  margin: 0 0 0 8px;
}
.index #home #main-social ul li a i {
  color: #9999cc;
  font-size: 28px;
  line-height: 24px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index #home #main-social ul li a:hover i {
  color: #26264c;
}
.index #home h3 {
  font-family: 'lora', serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: -0.75px;
  line-height: 22px;
  margin: 40px 0 20px 0;
  text-align: center;
}
.index #home img {
  display: block;
  margin: 0 auto 25px auto;
  max-width: 415px;
}
.index #home h1 {
  font-family: 'passionone', sans-serif;
  font-size: 100px;
  line-height: 70px;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
}
.index #home h1 span {
  font-size: 70px;
  line-height: 0;
}
.index #portfolio {
  background-color: #d2d2f9;
}
.index #portfolio #grid {
  margin: 0;
  overflow: auto;
}
.index #portfolio #grid li {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 25%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.index #portfolio #grid li a article .image {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -moz-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -ms-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  -o-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  transition: all 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75);
}
.index #portfolio #grid li a article .image img {
  display: block;
  max-height: 500px;
  max-width: 420px;
  width: 100%;
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  -moz-filter: greyacale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: #808080;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index #portfolio #grid li a article .image:after {
  background-color: #393973;
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index #portfolio #grid li a article .info-wrap {
  max-height: 120px;
  overflow: hidden;
  position: relative;
}
.index #portfolio #grid li a article .info-wrap span {
  background-color: #26264c;
  display: block;
  height: 0%;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.index #portfolio #grid li a article .info-wrap .info {
  padding: 30px 20px;
}
.index #portfolio #grid li a article .info-wrap .info h4 {
  font-family: 'lora';
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index #portfolio #grid li a article .info-wrap .info p {
  font-size: 10px;
  margin: 3px 0 0 0;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index #portfolio #grid li a:hover article .image img {
  -webkit-filter: grayscale(0%);
  -webkit-filter: grayscale(0);
  -moz-filter: greyacale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.index #portfolio #grid li a:hover article .image:after {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.index #portfolio #grid li a:hover article .info-wrap span {
  height: 100%;
}
.index #portfolio #grid li a:hover article .info-wrap .info h4 {
  color: #d2d2f9;
}
.index #portfolio #grid li a:hover article .info-wrap .info p {
  color: #d2d2f9;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
.index #about {
  background-color: #d2d2f9;
  padding-bottom: 80px;
}
.index #about p {
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  max-width: 325px;
}
.index #about blockquote {
  color: #9999cc;
  font-family: 'lora', serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  margin: 18px auto;
  max-width: 325px;
}
.index #contact {
  background: url('../img/footer-bg.png');
  background-position: 50% 350%;
  background-repeat: repeat-x;
  height: 700px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background-color: #d2d2f9;
}
.index #contact .wrapper {
  margin: 40px auto 80px auto;
  max-width: 300px;
  text-align: center;
}
.index #contact .wrapper h3 {
  font-family: 'lora', serif;
  font-size: 26px;
}
.index #contact .wrapper h3 a {
  color: #9999cc;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index #contact .wrapper h3 a:hover {
  color: #26264c;
}
.index #contact .wrapper ul {
  border-top: 1px solid #9999cc;
  margin-top: 4px;
  padding-top: 12px;
}
.index #contact .wrapper ul li {
  margin: 0 8px 0 0;
}
.index #contact .wrapper ul li:last-child {
  margin: 0;
}
.index #contact .wrapper ul li a i {
  color: #9999cc;
  font-size: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index #contact .wrapper ul li a i:hover {
  color: #26264c;
}
.index #archive {
  width: 100%;
  height: 400px;
  background-image: url('../img/divider-archive.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}
.index #resume {
  width: 100%;
  height: 400px;
  background-image: url('../img/divider-resume.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}
.index .divider {
  background-color: #333366;
}
.index .divider .wrapper {
  margin: 0 auto;
  padding: 150px 0 0 0;
  text-align: center;
}
.index .divider .wrapper h1 {
  color: #ededfc;
  font-family: 'lora', serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 36px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.index .divider .wrapper a.btn {
  border: 2px solid #ededfc;
  color: #ededfc;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: bold;
  height: 36px;
  letter-spacing: -0.5px;
  line-height: 30px;
  margin: 30px 0 0 0;
  padding: 1px 16px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.index .divider .wrapper a.btn:hover {
  background-color: #ededfc;
  color: #26264c;
}
.index .divider .wrapper a.btn i {
  margin: 0 4px 0 0;
}
.resume {
  background-color: #ebebff;
}
.resume .section {
  max-width: 950px;
  padding: 40px 0;
}
.resume .section .wrapper {
  padding: 0 40px;
  overflow: visible;
}
.resume .section .wrapper .panel {
  background-color: #f5f5ff;
  border: 1px solid #d2d2f9;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
  overflow: auto;
}
.resume .section .wrapper .panel:last-child {
  border-bottom: 1px solid #d2d2f9;
}
.resume .section .wrapper .panel .title {
  float: left;
  text-align: center;
  margin-top: 20px;
  width: 210px;
}
.resume .section .wrapper .panel .title i {
  background-color: #ededfc;
  color: #d2d2f9;
  display: block;
  font-size: 38px;
  line-height: 70px;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.resume .section .wrapper .panel .title span {
  color: #d2d2f9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}
.resume .section .wrapper .panel .entry {
  border-bottom: 1px solid #ededfc;
  margin: 20px 40px 20px 210px;
  padding: 0 0 20px 0;
  position: relative;
}
.resume .section .wrapper .panel .entry:first-child {
  margin-top: 40px;
}
.resume .section .wrapper .panel .entry:last-child {
  border: 0;
  margin-bottom: 40px;
  padding: 0;
}
.resume .section .wrapper .panel .entry a.expand {
  border: 1px solid #9999cc;
  color: #9999cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  padding: 4px 6px;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.resume .section .wrapper .panel .entry a.expand:hover {
  background-color: #26264c;
  border-color: transparent;
  color: #d2d2f9;
}
.resume .section .wrapper .panel .entry a.expand i {
  margin: 0 2px 0 0;
}
.resume .section .wrapper .panel .entry h4 {
  font-family: 'znikomit', sans-serif;
  font-size: 26px;
  line-height: 24px;
}
.resume .section .wrapper .panel .entry p.org-name {
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
.resume .section .wrapper .panel .entry .org-details {
  margin: 20px 0 0 0;
  -webkit-transform: all 0.2s ease-in-out;
  -moz-transform: all 0.2s ease-in-out;
  -ms-transform: all 0.2s ease-in-out;
  -o-transform: all 0.2s ease-in-out;
  transform: all 0.2s ease-in-out;
}
.resume .section .wrapper .panel .entry .org-details p {
  color: #393973;
  font-size: 16px;
  line-height: 19px;
}
.resume .section .wrapper .panel .entry .org-details ul {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 15px 0 0 0;
}
.resume .section .wrapper .panel .entry .org-details ul li {
  color: #393973;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 2px 0;
  padding: 0 0 0 120px;
}
.resume .section .wrapper .panel .entry .org-details ul li:last-child {
  margin-bottom: 0;
}
.resume .section .wrapper .panel .entry .org-details ul li i {
  color: #bbbbdd;
  position: absolute;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}
.resume .section .wrapper .panel .entry .org-details ul li i:before {
  font-family: 'FontAwesome';
  margin-right: 3px;
}
.resume .section .wrapper .panel .entry .org-details ul li a {
  color: #7272b9;
}
.resume .section .wrapper .panel .entry .org-details ul li a:hover {
  text-decoration: underline;
}
.resume header {
  background-color: #333366;
}
.resume header .image {
  float: left;
  margin-left: -40px;
  text-align: center;
  width: 210px;
}
.resume header .image img {
  margin: -15px 0;
  max-width: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.resume header .profile {
  float: left;
}
.resume header .profile h1 {
  color: #d2d2f9;
  font-family: 'znikomit';
  font-size: 78px;
  line-height: 68px;
}
.resume header .profile h3 {
  color: #9999cc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: -0.5px;
  line-height: 28px;
  margin: 4px 0 0 0px;
  text-transform: uppercase;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
}
.resume header .contact {
  float: right;
}
.resume header .contact a {
  background-color: #26264c;
  color: #4d4d9c;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  margin: 0 0 5px 0;
  padding: 6px 9px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.resume header .contact a:last-child {
  margin: 0;
}
.resume header .contact a:hover {
  background-color: #1d1d3b;
  color: #9999cc;
}
.resume header .contact a i {
  margin: 0 6px 0 0;
}
.resume header .contact a i.fa-location {
  font-size: 15px;
}
.resume header .contact a i.fa-phone {
  font-size: 14px;
}
.resume header .contact a i.fa-email {
  font-size: 11px;
}
.resume #experience {
  border-bottom: 1px solid #d2d2f9;
  margin-top: -40px;
}
.resume #experience.panel {
  padding-top: 40px;
}
.resume #education {
  border-bottom: 1px solid #d2d2f9;
}
.resume #skills {
  border-bottom: 1px solid #d2d2f9;
}
